html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #fbfbfb;
    width: 75vw;
    height: 90vh;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* barra laterale sinistra di colore grigio-blu */
.sidebar {
    background-color: #323e50;
    width: 25%;
    min-width: 130px;
    height: 90vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* logo della sidebar */
.image{
    position: relative;
    top: 2%;
    left: 5%;
}
img{
    min-width: 30%;
    max-width: 60%;
}
.section-container {
    border-top: 2px solid white;
    margin-top: 15px;
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
    right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    color: #333;
}
.section {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.section:hover {
    background-color: #384251;
}
.section-text {
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 8%;
}
/* Il content è lo spazio con lo sfondo bianco a destra della sidebar */
.content {
    flex-grow: 1;
    background-color: #fbfbfb;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    margin-left: 4%;
}
.section-text i {
    width: 30px;
    font-size: 1.2rem;
    margin-right: 10px; /* Spazio tra icona e testo (facoltativo se usi space-between) */
}
/* parte alta del content contenente il pulsante del logout */
.logout {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
}
.logout-btn {
    margin-top: 2%;
    color: #d9534f;
    font-size: 2rem;
}
.logout-btn:hover {
    color: #c9302c;
}
/* stile del titolo di benvenuto */
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
    font-weight: 500;
} 
/* stile delle card colorate */
.dashboard-cards {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    width: 10.2vw;
    min-width: 70px;
    height: 10.2vh;
    min-height: 40px;
    padding: 12px;
    border-radius: 8px;
    color: white;
    background-color: #3b82f6;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-content {
    display: flex;
    align-items: center;
    gap: 30px;
}
.card i {
    max-width: 23px;
    font-size: 1.8rem;
    margin-left: 5%;
}
.card h3 {
    font-weight: 400;
    font-size: 1.2rem;
}
.card-number {
    position: relative;
    bottom: 2px;
    font-size: 13px;
    font-weight: 550;
    align-self: center;
}
.card-blue { background: #3b82f6; }
.card-green { background: #1fdab1; }
.card-orange { background: #f59e0b; }
.card-red { background: #ef4444; }
.selected{
    background-color: #384251;
}






.placeholder{
    height: 250px;
    width: 95%;
    background-color: #d9534f;
}
